**/events.out*
**/*.png
**/*.jpg
**/*.pt
**/__pycache__
debug
!./adv_patch
.vscode
!./INRIAPerson/iniria.yaml
!./INRIAPerson/readme.md
!./INRIAPerson/*.py
!./INRIAPerson/yolodata/readme.md
INRIAPerson/
